body{
    background-image: url("download (23).jpg");
}
.copy_right_footer{
    width:100%;
    position: sticky;
    bottom:0;
    background-color: rgb(114, 253, 145);
}
canvas{
    border-radius: 20px;
    border-style: dashed;
    
}